*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #dce4e3;
  --green: #18c29c;
  --light-green: #8ed7c6;
	--light-grey: #dce4e3;
  --text-color: #084236;
}

body{
  display: flex;

  width: 100vw;
  height: 100vh;

  font-family: 'Poppins', sans-serif; 
  color: var(--text-color);
}

aside {
  display: flex;
  width: 325px;


  position: relative;

  flex-direction: column;
  justify-content: space-between;

  overflow: hidden;

  background-color: var(--green);
  transition: all ease-in-out .3s;
}

.navIcon{
  margin-left: auto;
}

nav {
  display: flex;

  flex-direction: column;

  padding: .5rem .5rem 0 0;
  
}

nav > div {
  display: flex;
  justify-content: space-between;
  margin: .8rem .5rem 1.5rem .5rem;
}

input{
  display: flex;

  width: 90%;
  height: 45px;
  padding-left: 50px;
  margin: 0 8px;

  font-size: 1.2rem;

  border: none;
  border-radius: 15px;

  background:url(assets/svg/search.svg) 
                  14px 50%  no-repeat;
  background-size: 25px;  
  background-color: var(--light-green);

  transition: all ease-out .5s;
}

input:focus {
  background:var(--light-green);
  content: 'buscar';
}

ul li {
  padding: 1rem 0 1rem 2.8rem;
  margin-left: 20px;

  list-style: none;
  
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul li:nth-of-type(1){
  background: url(assets/svg/grid.svg) left no-repeat;
  cursor: pointer;
}

ul li:nth-of-type(2){
  background: url(assets/svg/log-out.svg) left no-repeat;
  cursor: pointer;
}

ul li:nth-of-type(3){
  background: url(assets/svg/pet.svg) left no-repeat;
  cursor: pointer;
}

ul li:nth-of-type(4){
  background: url(assets/svg/vet.svg) left no-repeat;
  cursor: pointer;
}

ul li:nth-of-type(5){
  background: url(assets/svg/settings.svg) left no-repeat;
  cursor: pointer;
}

.perfil {
  display: flex;

  height: 9%;

  padding: 10px;

  justify-content: space-around;
  align-items: center;

  background-color: var(--light-green);
}

.perfil > img{
  margin: 10px 10px 10px 0;
}

.perfil > div {
  display: flex;
  
  gap: 5px;
}

dt {
  font-weight: 500;
}
dd{
  font-size: .8rem;
}


main {
  width: 100%;

  padding: 1rem;

  background-color: var(--body-bg-color);
}