*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #dce4e3;
  --green: #18c29c;
  --light-green: #8ed7c6;
	--light-grey: #dce4e3;
  --text-color: #084236;
}

body{
  display: flex;

  width: 100vw;
  height: 100vh;

  font-family: 'Poppins', sans-serif; 
  color: var(--text-color);
}

aside {
  display: flex;
  width: 25%;

  flex-direction: column;
  justify-content: space-between;

  background-color: var(--green);
}

nav {
  padding: .5rem .5rem 0 1rem;
}

nav > div {
  display: flex;
  justify-content: space-between;
  margin: .8rem .5rem 1.5rem .5rem;
}

ul li {
  padding: 1rem 0 1rem 2rem;

  list-style: none;
  
}

a {
  text-decoration: none;
  color: var(--text-color);
}

input{
  display: flex;

  width: 95%;
  height: 45px;
  padding: 25px;

  border: none;
  border-radius: 15px;

  background:url(assets/svg/search.svg) 7% 50%  no-repeat;
  background-size: 25px;  
  background-color: var(--light-green);
}

input:focus {
  background:var(--light-green);
}

ul li:nth-of-type(1){
  background: url(assets/svg/grid.svg) left no-repeat;
}

ul li:nth-of-type(2){
  background: url(assets/svg/log-out.svg) left no-repeat;
}

ul li:nth-of-type(3){
  background: url(assets/svg/pet.svg) left no-repeat;
}

ul li:nth-of-type(4){
  background: url(assets/svg/vet.svg) left no-repeat;
}

ul li:nth-of-type(5){
  background: url(assets/svg/settings.svg) left no-repeat;
}

.perfil {
  display: flex;

  height: 50px;

  padding: 10px;

  justify-content: space-between;
  align-items: center;

  background-color: var(--light-green);
}

.perfil > img{
  margin: 10px 10px 10px 0;
}

.perfil > div {
  width: 200px;
  display: flex;

  padding-right: 1rem;

  justify-content: space-between;
}

dt {
  font-weight: 500;
}
dd{
  font-size: .8rem;
}


main {
  width: 100%;

  padding: 1rem;

  background-color: var(--body-bg-color);
}